<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/static/jquery-1.8.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- tagcloud -->
    <script src="/static/plugins/TagCloud/jqTagCloud.js"></script>
    <style>
        .titleTag { font-size: 26px; }
        .tag { margin-right: 10px; color: #aaa; font-size: 10px; text-indent: 11px; line-height: 26px; }
    </style>
</head>
<body>
    {%include 'Script_navbar_fixed_top.html'%}
    <div class="container" style="margin-top: 20px; border: 1px solid #f2f2f2; border-radius: 3px;">
        <ul class="breadcrumb">
            <li class="active">
            </li>
        </ul>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    您可能对以下标签感兴趣（计算收藏相似用户的标签）
                </div>
                <div class="span7">
                </div>
                <div class="span3">
                    <!--Body content-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
