{% extends "account_base.html" %}
{% block title %}所有主题
{% endblock %}
{% block pagecontainer %}
{%if sliders%}
{% if not extraInfo.isSelf %}{%include 'Script_like_collect_slider.html'%}{%endif%}
<div class="span12">共发布过{{extraInfo.slideCount}}条：</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>目录</th>
            <th>操作</th>
            <th>时间</th>
        </tr>
    </thead>
    <tbody>
        {%for slider in sliders%}
        <tr>
            <td>
                <div style="float: left !important; white-space: nowrap" class="span12"><a href="{%url slider_url userURL=slider.author.userURL,sliderURL=slider.fixedSliderURL%}">{{slider.title}}</a></div>
                <div style="float: left !important; white-space: nowrap; margin-left: 0px !important;" class="span12">
                    {%for tag in slider.tags.all%}
                <a href="{%url sliders_by_tag tag.tag_name%}" class="tag">#{{tag.tag_name}}</a>
                    {%endfor%}
                </div>
            </td>
            <td>{% if extraInfo.isSelf %}<!--当前账户-->
                <span class="pull-right">
                    <a href="#">删除</a>
                    <a href="#">修改</a>
                </span>
                {%else%}
                <span class="">
                    <a class="btn_collection {%ifnotequal slider.amICollectIt 0 %} collected{%endifnotequal%} muted" href="javascript:void(0)" for="{{slider.slider_ID}}">收藏(<span>{{slider.collections}}</span>)</a>
                    <a class="btn_like {%ifnotequal slider.amILikeIt 0%} liked{%endifnotequal%} muted" href="javascript:void(0)" for="{{slider.slider_ID}}">喜欢(<span>{{slider.likes}}</span>)</a>
                </span>
                {%endif%}
            </td>
            <td>
                <span href="#" class="muted">{{slider.creation_date|date:'Y-m-d H:i'}}</span>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%if extraInfo.pageCount > 1 %}
<div class="pagination pagination-large pagination-centered">
    <ul>
        <li><a href="{% url siteuser_account_slider siteuser.userURL %}">«</a></li>
        {% for i in extraInfo.loop_times %}
        <li class="{% ifequal extraInfo.page i %} active {% endifequal %} "><a href="{% ifnotequal extraInfo.page i %} {%url siteuser_account_slider_page userurlname=siteuser.userURL,page=i%}{%else%}javascript:void(0){% endifnotequal %}">{{i}}</a></li>
        {{endif}}
        {% endfor %}
        <li><a href="{%url siteuser_account_slider_page userurlname=siteuser.userURL,page=extraInfo.pageCount%}">»</a></li>
    </ul>
</div>
{% endif %}
{%else%}
还没有任何动态
{% endif %}
{% endblock %}
